<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{ prenom }}</p>
    <p>{{ sex }}</p>
    <p>{{ age }}</p>
    <p>{{ famsize }}</p>
    <p>{{ pstatus }}</p>
    <p>{{ medu }}</p>
    <p>{{ fedu }}</p>
    <p>{{ studytime }}</p>
    <p>{{ activities }}</p>
    <p>{{ internet }}</p>
    <p>{{ Dalc }}</p>
    <p>{{ Walc }}</p>
    <p>{{ famsize_form }}</p>
    <p>{{ famsize_to_compare }}</p>
    <p>{{ pstatus_form }}</p>
    <p>{{ pstatus_to_compare }}</p>
</body>
</html>