<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<title>Stats</title>
</head>
<body style="background-color:  #e5e7e9;">
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
		  <p class="navbar-brand"><b>Analyse Data</b> - Consommation d'alcool chez les étudiants</p>
		</div>
	</nav>
		<div class="row m-2 mt-4">
			<div class="col">
				<h3 class="text-center ">L'étude a été mené sur <b>{{ nb_student }}</b> étudiants et étudiantes</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="card m-2">
					<div class="card-body">
						<p class="card-title text-center fw-bold">Répartition des âges des étudiants</p>
						<canvas id="doughnutAges" width="150" height="150"></canvas>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card m-2">
					<div class="card-body">
						<p class="card-title text-center fw-bold">Répartition des sexes des étudiants</p>
						<canvas id="barSex" width="150" height="150"></canvas>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card m-2">
					<div class="card-body">
						<p class="card-title text-center fw-bold">Médiane d'absences par age</p>
						<canvas id="lineAbsencesAge" width="150" height="150"></canvas>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card m-2">
					<div class="card-body">
						<p class="card-title text-center fw-bold">Médiane d'absences des étudiants</p>
						<canvas id="barAbsences" width="150" height="150"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card m-2">
				<div class="card-body">
					<p class="card-title text-center"><strong class="fw-bold">{{higher}}%</strong> des élèves souhaitent poursuivrent leurs études</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="card m-2">
				<div class="card-body">
					<p class="card-title text-center fw-bold">Consommation moyenne par age</p>
					<canvas id="lineConso" width="150" height="80"></canvas>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card m-2">
				<div class="card-body">
					<p class="card-title text-center fw-bold">Moyennes générales ( /20 ) en fonction de la consomation</p>
					<canvas id="barResultSchool" width="150" height="80"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="card m-2">
				<div class="card-body">
					<p class="card-title text-center fw-bold">Dégré de consomation en fonction des sorties</p>
					<canvas id="barAlcoolOut" width="150" height="150"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card m-2">
				<div class="card-body">
					<p class="card-title text-center fw-bold">Dégré de consomation en fonction nombre d'absences</p>
					<canvas id="barAbsencesConso" width="150" height="150"></canvas>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center m-4">
		<div class="col">
			<h4 class="text-center">Quel/Quelle étudiant(e) êtes-vous ? <b>Faites le test ! </b></h4>
			<div class="text-center">
				<a class="btn btn-primary" href="/show/test">Lancer le test</a>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Scripts for generate the graphics. Here for the fast development.
	 The graphics are generate by Chart.js because we use the web app and MatplotLib isn't appropriate in web stack -->
	 
<script>
	// The next comments are available for each graphic !

	// Get the value to send by Flask in Javascript
	var sex = '{{ sex }}'

	// Convert the string value to array
	sex = sex.replace('[', '');
	sex = sex.replace(']', '');
	sex = sex.split(',');

	// Get the canvas in the DOM
	var ctx = document.getElementById('barSex');

	// variable with the datas and many specs
	data = {
		datasets: [{
			data: sex,
			backgroundColor: [
					'rgb( 60, 63, 246 )',
					'rgb( 249, 91, 222 )',
				]
		}],
		labels: ['Homme', 'Femme'],
	};

	// Create the graphic
	var myBarChart = new Chart(ctx, {
	type: 'bar',
	data: data,
	options: {
		legend: {
			display: false
		},
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true
				}
			}]
	},
		responsive: true
	}
});
</script>


<script>
	var ages = '{{ ages }}';
	console.log(ages);
	// Convert the string value to array javascript
	ages = ages.replace('[', '');
	ages = ages.replace(']', '');
	ages = ages.split(",");

	var ctx = document.getElementById('doughnutAges');

	data = {
		datasets: [{
			data: ages,
			backgroundColor: [
					'rgb( 192, 57, 43 )',
					'rgb(155, 89, 182)',
					'rgb( 52, 152, 219 )',
					'rgb( 26, 188, 156 )',
					'rgb( 22, 160, 133 )',
					'rgb( 241, 196, 15 )',
					'rgb( 189, 195, 199 )',
					'rgb( 52, 73, 94 )',
				],
		}],
		labels: ['15 ans', '16 ans', '17 ans', '18 ans', '19 ans', '20 ans', '21 ans', '22 ans'],
	};

	var myChart = new Chart(ctx, {
		type: 'doughnut',
		data: data,
		options: {
			legend: {
				position: 'bottom'
			},
			responsive: true
		}
});
</script>
<script>
	var absenceage = '{{ absenceage }}';
	// Convert the string value to array javascript
	absenceage = absenceage.replace('[', '');
	absenceage = absenceage.replace(']', '');
	absenceage = absenceage.split(",");

	var ctx = document.getElementById('lineAbsencesAge');

	data = {
		datasets: [{
			data: absenceage,
			borderColor: [
					'rgb( 52, 73, 94 )',
				],
				backgroundColor: [
					'rgb( 255, 255, 255, 0 )',
				],
		}],
		labels: ['15 ans', '16 ans', '17 ans', '18 ans', '19 ans', '20 ans'],
	};

var myPlot = new Chart(ctx, {
	type: 'line',
	data: data,
	options: {
		legend: {
			position: 'bottom',
			display: false
		},
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true,
					max: 10,
				},
			}]
		},
		responsive: true
	}
});
</script>
<script>
	 var absences = '{{ absences }}'

	 absences = absences.replace('[', '');
	 absences = absences.replace(']', '');
	 absences = absences.split(',');

	var ctx = document.getElementById('barAbsences');

	data = {
		datasets: [{
			data: absences,
			backgroundColor: [
					'rgb( 73, 20, 132 )',
					'rgb( 132, 20, 87 )',
				]
		}],
		labels: ['Célibataire', 'En couple'],
	};

	var myBarChart = new Chart(ctx, {
	type: 'bar',
	data: data,
	options: {
		legend: {
			display: false
		},
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true,
					max: 7,
				},
			}]
		},
		responsive: true
	}
});
</script>
<script>
	var conso = '{{ conso }}';
	// Convert the string value to array javascript
	conso = conso.replace('[', '');
	conso = conso.replace(']', '');
	conso = conso.split(",");

	var ctx = document.getElementById('lineConso');

	data = {
		datasets: [{
			data: conso,
			backgroundColor: [
					'rgb( 52, 73, 94 )',
					'rgb( 189, 195, 199 )',
					'rgb( 52, 73, 96 )',
					'rgb( 189, 195, 199 )',
					'rgb( 52, 73, 94 )',
					'rgb( 189, 195, 199 )',
					'rgb( 52, 73, 94 )',
					'rgb( 189, 195, 199 )',
				],
		}],
		labels: ['15 ans', '16 ans', '17 ans', '18 ans', '19 ans', '20 ans', '21 ans', '22 ans'],
	};

var myPlot = new Chart(ctx, {
	type: 'line',
	data: data,
	options: {
		legend: {
			position: 'bottom',
			display: false
		},
		responsive: true
	}
});
</script>

<script>
// RESULT SCHOOL
var result_school = '{{ result_school }}';

var notes_moyenne = result_school
notes_moyenne = notes_moyenne.replace('[', '');
notes_moyenne = notes_moyenne.replace(']', '');
notes_moyenne = notes_moyenne.split(",");

var ctx = document.getElementById('barResultSchool');
var labels = [];
$.each(notes_moyenne, function(i, note){
	switch (i) {
		case 0:
		console.log(i);
			labels.push('Conso. très faible')
			break;
		case 1:
			labels.push('Conso. faible')
			break;
		case 2:
			labels.push('Conso. normal')
			break;
		case 3:
			labels.push('Conso. élevé')
			break;
		case 4:
			labels.push('Conso. très élevé')
			break;
		default:
			console.log('nok');
			break;
	}
})
console.log(labels);
data = {
	datasets: [{
		data: notes_moyenne,
		backgroundColor: [
				'rgb( 192, 57, 43 )',
			],
	}],
	labels: labels,
};

var myChart = new Chart(ctx, {
	type: 'line',
	data: data,
	options: {
		legend: {
			position: 'none'
		},
		responsive: true
	}
});
</script>
<script>
// CONSOMATION EN FONCTION DES SORTIES
var alcool_out = '{{ alcool_out }}';

var alcool_out = alcool_out
alcool_out = alcool_out.replace('[', '');
alcool_out = alcool_out.replace(']', '');
alcool_out = alcool_out.split(",");

var ctx = document.getElementById('barAlcoolOut');
var labels = [];
$.each(alcool_out, function(i, note){
	switch (i) {
		case 0:
			labels.push('Sorties très faible')
			break;
		case 1:
			labels.push('Sorties faible')
			break;
		case 2:
			labels.push('Sorties normal')
			break;
		case 3:
			labels.push('Sorties élevé')
			break;
		case 4:
			labels.push('Sorties très élevé')
			break;
		default:
			console.log('nok');
			break;
	}
})
data = {
	datasets: [{
		data: alcool_out,
		backgroundColor: [
				'#4598ea',
			],
	}],
	labels: labels,
};

var myChart = new Chart(ctx, {
	type: 'line',
	data: data,
	options: {
		legend: {
			position: 'none'
		},
		responsive: true
	}
});
</script>
<script>
// CONSOMATION EN FONCTION DES SORTIES
var absences_conso = '{{ absences_conso }}';

var nb_absences = '{{ nb_absences }}'

absences_conso = absences_conso.replace('[', '');
absences_conso = absences_conso.replace(']', '');
absences_conso = absences_conso.split(",");

nb_absences = nb_absences.replace('[', '');
nb_absences = nb_absences.replace(']', '');
nb_absences = nb_absences.split(",");

var ctx = document.getElementById('barAbsencesConso');
var labels = [];
$.each(nb_absences, function(i, nb){
	labels.push(nb)
})
backgroundColor = [];
$.each(nb_absences, function(i, nb){
	backgroundColor.push('rgb( 52, 73, 94 )')
})

data = {
	datasets: [{
		data: absences_conso,
		backgroundColor: backgroundColor,
	}],
	labels: labels,
};

var myChart = new Chart(ctx, {
	type: 'bar',
	data: data,
	options: {
		legend: {
			position: 'none'
		},
		responsive: true
	}
});
</script>
</html>
